<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<key>armv7</key>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<key>UIInterfaceOrientationPortrait</key>
		<key>UIInterfaceOrientationLandscapeLeft</key>
		<key>UIInterfaceOrientationLandscapeRight</key>
	</array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.xyidactyl.resourcecollection</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
    </array>
    <key>NSFaceIDUsageDescription</key>
    <string>Use Face ID to securely unlock your server panel.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>This app needs to access your local network to connect to locally hosted Pterodactyl panels.</string>
</dict>
</plist>
